<script type="text/template" id="template-repo-stats">
	<h4>Commiters</h4>
	<div class="commiters">
		<p><img src="@routes.Assets.at("images/generator-w.gif")" class="load" /></p>
	</div>
	
	<h4>Watchers</h4>
	<div class="watchers">
		<p><img src="@routes.Assets.at("images/generator-w.gif")" class="load" /></p>
	</div>
	
	<h4>Impact</h4>
	<div class="impact">
		<p><img src="@routes.Assets.at("images/generator-w.gif")" class="load" /></p>
	</div>
	
	<h4>Activity</h4>
	<div class="timeline">
		<p><img src="@routes.Assets.at("images/generator-w.gif")" class="load" /></p>
	</div>
	
	<h4>Geolocalisation</h4>
	<div class="geoloc">
		<p><img src="@routes.Assets.at("images/generator-w.gif")" class="load" /></p>
	</div>
	
	<h4>Languages</h4>
	<div class="languages">
		<p><img src="@routes.Assets.at("images/generator-w.gif")" class="load" /></p>
	</div>
</script>