/*
|--------------------------------------------------------------------------
| Global
|--------------------------------------------------------------------------
*/
.clear {
	clear: both
}

/* Modif design de base */
header.inner {
	max-width: 850px !important;
}

.edito dd {
	font-style: normal;
	margin-bottom: 10px;
}

/*
|--------------------------------------------------------------------------
| Search Header block
|--------------------------------------------------------------------------
*/

#search {
	width: 300px;
	position: absolute;
	right: 100px;
	top: 0px;
}

#search select {
	border: 1px solid !important; /* bug chrome */
}

#search form {
	border: 2px solid #333;
	border-bottom-left-radius: 20px;
	padding: 10px 20px;
	height: 120px;
}
#search form.before {
	overflow: hidden;
}
#search form.after {
	overflow: visible;
}

#search input[type=search] {
	width: 250px
}

#search form .control-label {
	width: 70px;
	text-align: left
}

#search form .controls {
	margin-left: 80px
}

#search .actions {
	margin-top: 10px;
}
#search .more {
	margin-top: 20px;	
}


/*
|--------------------------------------------------------------------------
| Header markers
|--------------------------------------------------------------------------
*/

#nuke {
	position: absolute;
	top: 5px;
	right: 15px;
}

#offlineMarker img {
	position: absolute;
	top: 145px;
	right: 6px;
	border: none;
	box-shadow: none;
	display: none
}

.loader {
	margin:50px 0;
	text-align: center
}


/*
|--------------------------------------------------------------------------
| Results & Repositories
|--------------------------------------------------------------------------
*/

.result {
	
	width: 100%;
	color: #222;
	background-color: #fff;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 100%;
	
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.result h4 a {
	display: inline-block;
	max-width: 340px;
	overflow: hidden;
}

.result .line {
	display: table;
	width: 100%
}

.result .avatar {
	vertical-align:top;
	display:table-cell;
	width: 100px;
	text-align:center
}

.result .avatar img {
	width: 82px;
	height: 82px;
	background-image: url("../images/avatar.png")
}

.result .detail {
	vertical-align: top;
	width: 425px;
	display: inline-block;
	word-wrap:break-word;
}

.result .detail p {
	word-wrap:break-world;
}

.result .detail .badge {
	vertical-align: super
}

.result .detail h4 {
	margin-top: 0;
}

.result .line span {
	display:inline-block;
	margin-right: 20px;
}

.result .actions {
	vertical-align:middle;
	display:table-cell;
	width: 110px;
	text-align: right;
}

.result p {
	margin-bottom: 0;
}

.result span.label {
	font-family: arial;
	margin-bottom: 5px;
	margin-right: 10px	
}

.result a.closeDetail {
	display: none;
}

/*
|--------------------------------------------------------------------------
| Status
|--------------------------------------------------------------------------
*/

.no-more-results, .no-result {
	display: none;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #eed3d7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f2dede;
	color: #b94a48;
}

.load {
	border: none;
	box-shadow: none;	
}

.waiting {
	text-align: center;
}


/*
|--------------------------------------------------------------------------
| Stats
|--------------------------------------------------------------------------
*/

.stats .commiters, .stats .watchers {
	overflow-x: scroll;
}

/*
|--------------------------------------------------------------------------
| Documentation
|--------------------------------------------------------------------------
*/

.doc code {
	display: inline-block;
	margin-bottom: 3px;
	width: auto;
}

.doc code em {
	color: #FF3333;
	font-style: normal;
}

.doc div {
	margin-left: 40px;
}

.doc div a {
	color: #373737;
}

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}