@()(implicit languages: List[Tuple2[String, Seq[String]]]) 

@main("Github Dashboard par Julien Lafont") {

	<div class="edito">    
		<h1>About Github Dashboard</h1>
		<blockquote>
			Github Dashboard is a web application to search for git repositories on GitHub and to view information and statistics about these projects.
		</blockquote>
		
		<dl>	
			<dt>Server</dt>
			<dd>PlayFramework 2.0 with Scala and Sindi (IOC container).</dd>
			<dt>Client</dt>
			<dd>Backbone (MVC framework), jQuery (dom, Ajax), Lawnchair (localstorage), Handlebars (templating) and UnderscoreJS (utility-belt).</dd>
			<dt>Test</dt>
			<dd>Spec2 & Selenium</dd>
		</dl>
		
		<h1>Changelog</h1>
		<dl>
			<dt>14/04/2012</dt>
			<dd>Better exception handling (api return error detail in json)<br />
					Adapt backbone router to manage these errors<br />
					Add functionals tests (Selenium)<br />
					Improve code comments</dd>
		</dl>
			
		<h1>Public API</h1>
		<p>This server is a middleware between Github, Yahoo and other WS. It normalizes data and provides a sustainable API.</p>
		<p>Documentation for <a href="@routes.Documentation.index()">API V1</a></p>
   </div> 
}