@(title: String)(content: Html)(implicit languages: List[Tuple2[String, Seq[String]]])    
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="description" content="Zenexigit by Julien Lafont" />
	
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/stylesheet.css")" />
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/custom.css")" />
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/chosen.css")" />
	
	<title>@title</title>
</head>

<body>

	<div id="header_wrap" class="outer">
		<header class="inner">
			<h1 id="project_title">Zenexigit</h1>
			<h2 id="project_tagline">Zenexity homework @@ Julien Lafont</h2>

			<section id="search">

				<form action="#" class="form-horizontal form-search before">
					<fieldset>
						<h4>Search repositories</h4>
						<input type="text" placeHolder="Search" class="search-query" />
						<div class="actions">
							<input type="button" value="More options" class="btn btn-inverse" id="btn-more-options" style="float: left" /> 
							<input type="submit" value="Search" class="btn btn-info" style="float: right" />
						</div>
						<br class="clear" />

						 <div class="more">
							<div class="control-group">
								<label class="control-label" for="input01">Username</label>
								<div class="controls">
									<input type="text" class="input-medium" />
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="input01">Language</label>
								<div class="controls">
									<select class="input-medium">
										@languages.map { group => 
											<optgroup label="@group._1">
											@group._2.map { language =>
												<option value="@language">@language</option>
											}
										}
									</select>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="input01">Forks ?</label>
								<div class="controls">
									<input type="checkbox" />
								</div>
							</div>
						</div>

					</fieldset>

				</form>
			</section>

		</header>

	</div>

	<!-- MAIN CONTENT -->
	<div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">

			<h2>Results</h2>
			<div id="results">
				<div class="result">
					<div class="line">
						<div class="avatar">
							<a href="#">
								<img src="https://secure.gravatar.com/avatar/e98302802fb211bed73365b9ab809039?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="avatar" />
							</a>
						</div>
						<div class="detail">
							<h4>Bootstrap <span class="badge badge-error">126</span></h4>
							<p>HTML, CSS, and JS toolkit from Twitter</p>
						</div>
						<div class="actions">
							<a class="btn btn-inverse">Show detail</a>
						</div>
					</div>
					<div class="line">
						<p>
							<span><i class="icon-user"></i> Studio-Dev</span> 
							<span><i class="icon-eye-open"></i> 300</span> 
							<span><i class="icon-exclamation-sign"></i> 200</span> 
							<span><i class="icon-calendar"></i> 28 mars 2010 10h3</span> 
							<span><a href="#"><i class="icon-home"></i></a></span> 
							<span class="label label-info">Fork</span> 
							<span class="label label-important">Private</span>
						</p>

					</div>
				</div>

			</div>
			
			@content
			
		</section>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"><\/script>')</script>
	<script src="@routes.Assets.at("javascripts/chosen.jquery.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/underscore.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/plugins.js")"></script>

	<script type="text/javascript">
		$(".more").searchMore();
		$("#search select").chosen();
	</script>
	
</body>
</html>
